services:
  redis:
    image: redis:7-alpine
    container_name: redis-grappe
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    restart: always

  backend-grappe:
    container_name: backend-grappe
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "5050:5050"
    restart: always
    depends_on:
      redis:
        condition: service_healthy

volumes:
  redis-data:
